<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Quiz4All is a simple application which allows users to have fun, learn or test themselves by taking a
        QUIZ!!!</h2>
      <ul class="list-group">
        <li class="list-group-item">Quiz4All is implemented both as Web and Hybrid Mobile application. That’s why users can use the app in
          convenient way on any device.
        </li>
        <li class="list-group-item">Quiz4All in Web version allows a user to register and login.</li>
        <li class="list-group-item">Registered user is able to create a new quiz.</li>
        <li class="list-group-item">To create a quiz a user needs to enter quiz name and description (optionally can also upload quiz image).
        </li>
        <li class="list-group-item">New quiz will have at least one question (each question has to have at least one answer).</li>
        <li class="list-group-item">Quiz4All in Hybrid Mobile version only allows to take a quiz – To create a quiz user needs to use web
          application.
        </li>
      </ul>
    </div>
  </div>
</div>
